.roboto-thin-italic 
{
    font-family: "Roboto", serif;
    font-weight: 100;
    font-style: italic;
}

*
{
    margin: 0;
}

body
{
    background: linear-gradient(90deg, #044d13,#010f04);
    font-family: "Roboto", sans-serif;
}

#imgContainer
{
    height: auto;
}

#logo
{
    width: 160px;
}

h1
{
    color: white;
    text-align: center;
    font-size: 2.5em;
}

#form
{
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.inputs
{
    width: 500px;
    height: 5vh;
    border-radius: 12px;
    border: none;
    background-color: #c5c2c2;
    padding-left: 1.2em;
    font-size: 1.3em;
    padding-right: 1.2em;
}

.inputs::placeholder
{
    color: #525151;
}

#dataNasc
{
    color: #e2e2e2;
    font-size: 1.3em;
}

#botao
{
    width: 8em;
    font-size: 1.2em;
    height: 60px;
    background-color: #007507;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 1.5em;
    cursor: pointer;
    padding: 1rem;
}

#botao:hover
{
    background-color:  #015c07;
}

#redirect
{
    color: white;
}



/* ---- Media Queryes ---- */

@media (max-width: 1400px)
{
   

    #logo
    {
        width: 110px;
    }

    h1
    {
        color: white;
        text-align: center;
        font-size: 2em;
    }

    #form
    {
        margin-top: 1.2em;
        gap: 35px;
        height: 70vh;
    }

    .inputs
    {
        width: 300px;
        height: 1.4em;
        border-radius: 9px;
        border: none;
        background-color: #c5c2c2;
        padding-left: 0.5em;
        font-size: 1.3em;
    }

    #dataNasc
    {
        color: #e2e2e2;
        font-size: 1.2em;
    }

    #botao
    {
        width: 6em;
        font-size: 1em;
        height: 45px;
        margin-top: 0em;
    }

}

@media (max-width: 1200px)
{
    #logo
    {
        width: 110px;
    }

    h1
    {
        color: white;
        text-align: center;
        font-size: 2em;
    }

    #form
    {
        margin-top: 1.2em;
        gap: 35px;
        height: 70vh;
    }

    .inputs
    {
        width: 300px;
        height: 1.4em;
        border-radius: 9px;
        border: none;
        background-color: #c5c2c2;
        padding-left: 0.5em;
        font-size: 1.3em;
    }

    #dataNasc
    {
        color: #e2e2e2;
        font-size: 1.2em;
    }

    #botao
    {
        width: 6em;
        font-size: 1em;
        height: 45px;
        margin-top: 0em;
    }
}

@media (max-width: 992px)
{
    #logo
    {
        width: 110px;
    }

    h1
    {
        color: white;
        text-align: center;
        font-size: 2em;
    }

    #form
    {
        margin-top: 1.2em;
        gap: 35px;
        height: 70vh;
    }

    .inputs
    {
        width: 300px;
        height: 1.4em;
        border-radius: 9px;
        border: none;
        background-color: #c5c2c2;
        padding-left: 0.5em;
        font-size: 1.3em;
    }

    #dataNasc
    {
        color: #e2e2e2;
        font-size: 1.2em;
    }

    #botao
    {
        width: 6em;
        font-size: 1em;
        height: 45px;
        margin-top: 0em;
    }
}

@media (max-width: 768px)
{
    #logo
    {
        width: 110px;
    }

    h1
    {
        color: white;
        text-align: center;
        font-size: 2em;
    }

    #form
    {
        margin-top: 0.8em;
        gap: 35px;
        height: 70vh;
    }

    .inputs
    {
        width: 400px;
        height: 1.6em;
        border-radius: 9px;
        border: none;
        background-color: #c5c2c2;
        padding-left: 0.5em;
        font-size: 1.3em;
    }

    #dataNasc
    {
        color: #e2e2e2;
        font-size: 1.2em;
    }

    #botao
    {
        width: 6em;
        font-size: 1em;
        height: 45px;
        margin-top: 0em;
    }
}


        @media (max-width: 576px)
        {
            #logo
            {
                width: 110px;
            }

            h1
            {
                color: white;
                text-align: center;
                font-size: 2.5em;
            }

            #form
            {
                margin-top: 2.5em;
                gap: 35px;
                height: auto;
            }

            .inputs
            {
                width: 350px;
                height: 1.4em;
                border-radius: 9px;
                border: none;
                background-color: #c5c2c2;
                padding-left: 0.7em;
                font-size: 1.3em;
            }

            #dataNasc
            {
                color: #e2e2e2;
                font-size: 1.2em;
            }

            #botao
            {
                width: 7em;
                font-size: 1em;
                height: 45px;
                margin-top: 1em;
            }
        }


            @media (max-width: 375px)
            {
                #logo
                {
                    width: 110px;
                }

                h1
                {
                    color: white;
                    text-align: center;
                    font-size: 2em;
                }

                #form
                {
                    margin-top: 1.2em;
                    gap: 35px;
                    height: 70vh;
                }

                .inputs
                {
                    width: 300px;
                    height: 1.4em;
                    border-radius: 9px;
                    border: none;
                    background-color: #c5c2c2;
                    padding-left: 0.5em;
                    font-size: 1.3em;
                }

                #dataNasc
                {
                    color: #e2e2e2;
                    font-size: 1.2em;
                }

                #botao
                {
                    width: 6em;
                    font-size: 1em;
                    height: 45px;
                    margin-top: 0em;
                }
            }