main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.navbar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 15vh;
}
#logoNavBar {
    max-width: 8em;
}

.containerContent {
    display: flex;
    flex-flow: column nowrap;
    /* height: 80vh;
    width: 50vw; */
    gap: 1.5rem;
}

.topForm {
    width: 100%;
    text-align: center;
    color: #ffff;
    margin-bottom: 1rem;

    font-weight: 600;
    font-size: 1.4rem;
}

.formContainer form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    max-width: 75vw;
}

.inputBox {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.3rem;

    font-size: 1.2rem;
    color: #fff;
    height: 3vh;
    
    /* background-color: aqua; */
}

legend
{
    color: aliceblue;
}

.inputBox input {
    min-width: 3.5vw;
}

.bottomForm {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-weight: 600;
}

.bottomForm p {
    color: #fff;
}

.bottomForm a {
    color: #000;
    text-decoration: none;
}

.bottomForm a:hover {
    color: #fff;
    text-decoration: underline;
}

.firstBtn {
    background-color: #007507;
    border: 2px solid #000;
    color: #fff;
    font-weight: 900;
    font-size: 1.4rem;

    min-width: 5vw;
    height: auto; 

    border-radius: 5px;
    padding: 0.5rem;
}

.secondBtn {
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 900;
    font-size: 2rem;

    min-width: 5vw;
    height: auto; 

    border-radius: 5px;
    padding: 0.5rem;
}

.firstBtn:hover {
    border: 1px solid #fff;
    box-shadow: 1px 1px;
}

#conecte
{
    color: #F9EF9A;
}

@media (max-width: 1200px) {
    .firstBtn img {
        max-width: 9vw;
        max-height: 7vh;
    }
    .formContainer form {
        max-width: 80vw;
    }
}

@media (max-width: 750px) {
    .firstBtn img {
        max-width: 11vw;
        height: 8vh;
    }
    .formContainer form {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .firstBtn img {
        max-width: 15vw;
        height: 6vh;
    }
}

@media (max-width: 400px) {
    .firstBtn img {
        max-width: 14vw;
        height: 8vh;
    }
    .inputBox input {
        min-width: 4vw;
    }
}