main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
.navbar {
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 15vh;
}
#logoNavBar {
    max-width: 8em;
}

.containerContent {
    display: flex;
    flex-flow: column nowrap;
    
    /* height: 80vh;
    width: 50vw; */
    gap: 1.5rem;
}

.topForm {
    width: 100%;
    text-align: center;
    color: #ffff;
    margin-bottom: 1rem;

    font-weight: 600;
    font-size: 1.3rem;
}

.formContainer form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1.5rem;
}

.formContainer input{

    border: none;
    min-width: 25vw;
    height: 5vh;
    border-radius: 5px;
    padding: 4px;

    background-color: var(--background-input);
    color: #000;
    font-weight: 500;
    font-size: 1rem;
}

.bottomForm {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    font-weight: 600;
}

.bottomForm p {
    color: #fff;
}

.bottomForm a {
    color: #000;
    text-decoration: none;
}

.bottomForm a:hover {
    color: #fff;
    text-decoration: underline;
}

.firstBtn {
    background-color: transparent;
    border: 2px solid #fff;
    /* color: #fff;
    font-weight: 900;
    font-size: 2rem; */

    /* min-width: 5vw;
    height: auto; */

    border-radius: 5px;
}
.firstBtn img {
    max-width: 8vw;
    max-height: 7vh;
}

.firstBtn:hover {
    background-color: var(--background-input);
    /* background-color: #fff; */
}

@media (max-width: 1200px) {
    .formContainer input {
        width: 50vw;
    }
    .firstBtn img {
        max-width: 9vw;
        max-height: 7vh;
    }
}

@media (max-width: 750px) {
    .formContainer input {
        width: 60vw;
    }
    .firstBtn img {
        max-width: 11vw;
        height: 8vh;
    }
}

@media (max-width: 500px) {
    .formContainer input {
        width: 75vw;
    }
    .firstBtn img {
        max-width: 15vw;
        height: 6vh;
    }
}

@media (max-width: 400) {
    .formContainer input {
        width: 75vw;
    }
    .firstBtn img {
        max-width: 14vw;
        height: 8vh;
    }
}